:root, #root {
    min-height: 100vh;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0em;
    padding: 0em;
    width: 100%;
    background-color: #F8F8F8;
}

.icons {
    color: #135846;
    width: 1.625em;
    height: 1.5em;
    cursor: pointer;
}